<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h4><%= story.title%></h4>
        <small>Posted <%= story.CreatedAt%> by <%= story.author%></small> 
        <div id = 'story'><%= story.content%></div>
        <form>
            <button type="submit" formmethod="get" formaction="/stories/<%=story.id%>/edit">Edit</button>
            <button type="submit" formmethod="post" formaction="/stories/<%=story.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
<%- include('../partials/footer.ejs')%>