<%- include('../partials/header.ejs')%>
    <div class="content">
        <div class="center-container mb-100">
            <div class="event-heading">
                <h3 class="dis-in-bl">
                    Welcome to Agriculture Trading!!!
                </h3>
            </div>


            <table id="#table">
                <tr>
                    <td>

                        <p>
                            <%=story.offerItemId.category%>
                        </p>
                        <a href="/machinery/<%=story.offerItemId._id%>">
                            <%=story.offerItemId.title%>
                        </a>
                    </td>
                    <td>

                        <p>
                            <%=story.category%>
                        </p>
                        <a href="/machinery/<%=story.id%>">
                            <%=story.title%>
                        </a>
                    </td>
                    <td>
                        <form style="float: left;">
                            <button class="button update-btn" type="submit" formmethod="POST"
                                formaction="/trade/offer/<%=story.offerItemId.id%>/<%=story.id%>/accept">Accept</button>
                            <button class="button delete-btn" type="submit" formmethod="POST"
                                formaction="/trade/offer/reject/<%=story.id%>/<%=story.offerItemId.id%>">Reject</button>
                        </form>
                    </td>
                </tr>
            </table>


        </div>
    </div>
    <%- include('../partials/footer.ejs')%>