<%- include('../partials/header.ejs')%>
    <div class="content">
        <div class="center-container mb-100">
            <div class="event-heading">
                <h3 class="dis-in-bl">
                    <%=user.firstName%>'s Trades
                </h3>
            </div>
            <% if(machineries.length){ %>

                <table id="#table">
                    <tr>
                        <th>machinery Model</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <% machineries.forEach(machinery=> { %>
                        <tr>
                            <td><a href='/machinery/<%=machinery._id%>'>
                                    <%= machinery.title %>
                                </a></td>
                            <td>
                                <%= machinery.category %>
                            </td>
                            <td>
                                <%= machinery.status %>
                            </td>
                            <td>
                                <form style="float: left;">
                                            <button class="button update-btn" type="submit" formmethod="GET"
                                                formaction="/<%= machinery._id%>/edit">Edit</button>
                                            <button class="button delete-btn" type="submit" formmethod="POST"
                                                formaction="/<%= machinery._id%>?_method=DELETE">Delete</button>

                                            <% if(machinery.status==='Pending' && machinery.offerItemId){%>
                                                <button type="submit" class="button" formmethod="GET"
                                                    formaction="/trade/offer/manage/<%=machinery._id%>">
                                                    Manage Offer
                                                </button>
                                                <% } %>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <% } else { %>
                    <p style="margin: 20px auto;width: 95%;">There are no machineries to display.</p>
                    <% } %>
        </div>



        <% if(watchlist.length){ %>
            <div class="event-heading">
                <h3 class="dis-in-bl">
                    <%=user.firstName%>'s watchlist
                </h3>
            </div>

            <table id="#table">
                <tr>
                    <th>machinery Model</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <% watchlist.forEach(machinery=> { %>
                    <tr>
                        <td><a href='/machinery/<%=machinery._id%>'>
                                <%= machinery.title %>
                            </a></td>
                        <td>
                            <%= machinery.category %>
                        </td>
                        <td>
                            <%= machinery.status %>
                        </td>
                        <td>

                            <form style="float: left;">
                                <% if(machinery.status==='Available' ){%>
                                    <button class="button update-btn" type="submit" formmethod="GET"
                                        formaction="/trade/offer/<%=machinery._id%>">Trade</button>
                                    <% }%>
                                        <button class="button delete-btn" type="submit" formmethod="POST"
                                            formaction="/trade/unwatch/<%=machinery._id%>?_method=PUT">Unwatch</button>
                            </form>

                        </td>
                    </tr>
                    <% }); %>
            </table>
            <% } %>





                <% if(offers.length){ %>
                    <div class="event-heading">
                        <h3 class="dis-in-bl">
                            <%=user.firstName%>'s OfferList
                        </h3>
                    </div>

                    <table id="#table">
                        <tr>
                            <th>machinery Model</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <% offers.forEach(machinery=> { %>
                            <tr>
                                <td><a href='/machinery/<%=machinery._id%>'>
                                        <%= machinery.title %>
                                    </a></td>
                                <td>
                                    <%= machinery.category %>
                                </td>
                                <td>
                                    <%= machinery.status %>
                                </td>
                                <td> 

                                    <form style="float: left;">
                                        <% console.log("machinery",machinery) %>
                                        <button class="button delete-btn" type="submit" formmethod="POST"
                                            formaction="/trade/offer/reject/<%=machinery._id%>/<%=machinery.offerItemId.id%>">Cancel
                                            Offer</button>
                                    </form>

                                </td>
                            </tr>   
                            <% }); %>
                    </table>
                    <% } %>

    </div>
    <%- include('../partials/footer.ejs')%>